<div class="container mt-4">
  <h2>Text Processor</h2>
  <form class="mt-4" [formGroup]="textForm" (ngSubmit)="processText()">
    <div class="form-group">
      <label for="inputText">Input Text:</label>
      <input type="text" class="form-control" id="inputText" formControlName="inputText">
      <small class="text-danger" *ngIf="inputTextForm?.errors">
        Invalid text
      </small>
    </div>
    <div class="mt-2">
      <button [disabled]="!inputTextForm?.value" *ngIf="!isProcessing" type="submit" class="btn btn-primary">
        Process
      </button>
      <button *ngIf="isProcessing" type="button" class="btn btn-danger" (click)="closeTextProcess()">Cancel</button>
    </div>
  </form>
  <div class="mt-3">
    <label>Output:</label>
    <textarea class="form-control" rows="5" [value]="outputText" readonly></textarea>
  </div>
</div>
